.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    display: flex;
    list-style-type: none;
}
.image{
    width: 480px;
}
.listItem{
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}