.box {
    width: 480px;
    height: 430px;
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.links {
    display: flex;
    align-items: center;
}
.text{
    white-space: nowrap;
}
.link{
    color:#4C4CFF ;
    text-decoration: none;
}
.link:hover {
    color: white;
    transition: all 0.7s ease;
}
