.popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*visibility: hidden;*/
    z-index: 1501;
    transform: scale(0);
    cursor: pointer;
}
.active{
    transform: scale(1);
/*visibility: visible;*/
}
.buttonClose {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 63px;
    right: 43px;
    cursor: pointer;
}
.popupBox{
    position: relative;
    width: 720px;
    min-height: 300px;
    background-color: #1C1C21;
    border-radius: 40px;
    cursor: auto;
}
